<!DOCTYPE html>
<html>
   {%extends 'base.html '%}
   {% load staticfiles %}
   {%block title%} Add a new page {%endblock%}
  {%block body_block%}
    <form id="page_form" method="POST" action="{% url 'Add page'  category.slug %}">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
            {{hidden_field}}
            {% endfor %}
                   <table>
            {% for field in form.visible_fields %}
        <tr>
        <td colspan="2">
            {{ field.errors }}
        </td>   
        </tr>
        <tr>
            <td>{{ field.help_text }}</td>
            <td>{{field}} </td>
        </tr>
            
                        
            
            {% endfor %}
            </table>

            <input type="submit" name="Submit" value ="Create Page"/>

        </form>
  {% endblock %}
  
    
    
  
   
 </html>