<!DOCTYPE html>
<html>

    {% extends 'base.html' %}
   {% block title %} Welcome to Rango page {%endblock%}
      {% block body_block %}

{% if user.is_authenticated %}
  
        <h1>Rango says...Hello world {{user.username}}!</h1>
        {%else%}
        <h1>Rango says... hello world!</h1>
        {%endif%}
        <h2>Category</h2>
      
       {% if categories %}

           <ul>
              {% for category in categories  %}
              <li><a href="{% url 'Category'  category.slug %}"> {{ category.name }} </a> </li>
              {% endfor %}
           </ul>
        {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

       <h2>Top favourite Pages </h2>
       {% if pages %}
          <ul>
              {% for page in pages %}
               <li> {{page.title}} - {{page.views}} views </li>
              {% endfor %}
          </ul>
       {% else %}
           There are no pages which are clicked.
       {% endif %}

          <p> visits: {{ visits }}</p> 
          
      {%endblock%}


</html>